<!DOCTYPE html>
<html>
<head>
    <partial name="Seo" />
    @RenderSection("SEO", false)
    <partial name="Styles" />
    @RenderSection("Styles", false)
</head>

<body>
    <header>
        <partial name="Navbar" />      
    </header>

    <partial name="Sidenav" />

    <main class="main">
        @RenderBody()
    </main>

    <footer>
        <partial name="Footer" />
    </footer>

    <partial name="Scripts" />
    @RenderSection("Scripts", false)
</body>
</html>
