<div class="footer">
    <div class="flex-column">
        <div class="logo">
            <a class="logo-link" href="/">Zen<i class="las la-comment-dots"></i>Chat</a>
        </div>
    </div>
    <div class="flex-column">
        <a asp-page="/Site/TermsOfService">Terms Of Service</a>
        <a asp-page="/Site/PrivacyPolicy">Privacy Policy</a>
        <a asp-page="/Site/PrivacyPolicy">Cookie Policy</a>
        <a asp-page="/Site/About">About</a>
    </div>
    <div class="footer-bottom">
        <span>All rights reserved. Zen Chat &copy; @DateTime.Today.Year</span>
        <div class="footer-info mt-1">Designed by Hamzi Alsheikh.</div>
        <div class="footer-overlay">
            <span>HMZ</span>
            <div class="links">
                <a href="https://github.com/hmz777"><i class="lab la-github"></i></a>
                <a href="https://stackoverflow.com/users/6843077/hmz"><i class="lab la-stack-overflow"></i></a>
                <a href="https://www.linkedin.com/in/hamzialsheikh/"><i class="lab la-linkedin"></i></a>
                <a href="https://www.facebook.com/Hamzi.Alsheikh/"><i class="lab la-facebook"></i></a>
                <a href="https://twitter.com/Hamzi__Alsheikh"><i class="lab la-twitter"></i></a>
            </div>
        </div>
    </div>
</div>