<div class="footer">
    <div class="flex-column">
        <div class="logo">
            <a class="logo-link" href="/">Z<i class="las la-comment-dots"></i>Chat</a>
        </div>
    </div>
    <div class="flex-column">
    </div>
    <div class="flex-column">
        <a asp-page="/Site/TermsOfService">Terms Of Service</a>
        <a asp-page="/Site/PrivacyPolicy">Privacy Policy</a>
        <a asp-page="/Site/About">About</a>
    </div>
    <div class="footer-bottom">
        <span>All rights reserved. Z-Chat &copy; @DateTime.Today.Year</span>
        <span class="mt-1">Designed by Hamzi Alsheikh.</span>
    </div>
</div>