<div class="navbar">
    <div class="logo">
        <a href="/">Z<i class="las la-comment-dots"></i>Chat</a>
    </div>
    <nav>
        <ul>
            <li><a href="/Chat/DemoRoom">Try It!</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
        </ul>
    </nav>
</div>