<div class="navbar">
    <div class="logo">
        <a href="/">Z<i class="las la-comment-dots"></i>Chat</a>
    </div>
    <nav>
        <ul>
            <li><a asp-area="Identity" asp-page="Register">Register</a></li>
            <li><a asp-area="Identity" asp-page="Login">Login</a></li>
        </ul>
    </nav>
</div>