@using Microsoft.AspNetCore.Http.Extensions
@{
    bool IsAccount = ViewData["Account"] == null ? false : true;
}

<div class="navbar">
    <div class="logo">
        <a href="/">Z<i class="las la-comment-dots"></i>Chat</a>
    </div>
    <nav>
        <ul>
            <li><a href="/chat/DemoRoom">Try It</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-area="Identity" asp-page="/Account/Settings">Hello @User.Identity.Name</a></li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(Context.Request.GetEncodedUrl())" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>

            }
            else
            {
                @if (IsAccount)
                {
                    <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                }
                else
                {
                    <li><a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@(Context.Request.GetEncodedUrl())">Login</a></li>
                }
                <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
            }
        </ul>
    </nav>
</div>