<div class="navbar">
    <div class="logo">
        <a href="/">Z-Chat</a>
    </div>
    <nav>
        <ul>
            <li><a asp-area="Identity" asp-page="Register">Register</a></li>
            <li><a asp-area="Identity" asp-page="Login">Login</a></li>
        </ul>
    </nav>
</div>