@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-200%);
    }
}

.fadeOut {
    animation: fadeOut .5s ease-in-out forwards;
}

.slideUp {
    animation: slideUp .5s ease-in-out forwards;
}