#client-main {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;

    &.D-Mode {
        color: white;
        background: $color5;

        #UserSection,
        #ChatSection {
            color: white;
            background: $color5;
        }
    }

    #NavSection {
        display: flex;
        flex-flow: column wrap;
        align-items: stretch;
        width: 5%;
        padding: 0;
        background: $color1;

        a,
        button {
            color: white;
            font-size: 2em;
            text-align: center;
            padding: .5em;
            max-width: 100%;
            transition: background .3s ease-in-out;
            border: none;
            background: none;

            &:hover {
                background: rgba(white, .2);
            }
        }
    }

    #UserSection {
        display: flex;
        flex-flow: column wrap;
        width: 30%;

        #UserHeader {
            display: flex;
            padding: 1em;
            border-bottom: 1px solid $color1;
            height: 10%;
            max-width: 100%;

            i {
                font-size: 1.8em;
                margin: auto .5em auto 0;
                color: $color1;
            }

            p {
                @include Truncate(1);
                margin: 0 auto 0 0;
                position: relative;
                font-size: 1.2em;
                margin: auto 0;
            }
        }

        #UserContent {
            display: block;
            padding: 0 2em;
            overflow-y: auto;
            width: 100%;
            height: 80%;

            h2 {
                position: relative;
                display: flex;
                align-items: center;

                &:before {
                    @extend .las;
                    content: la-content($la-user-circle);
                    margin-right: .5em;
                    position: relative;
                    color: $color1;
                }
            }

            #Users {
                ul {
                    list-style: none;
                    display: flex;
                    flex-flow: row wrap;
                    padding: 0;

                    li {
                        position: relative;
                        padding: .5em;
                        background: $color1;
                        color: white;
                        margin: 0 .2em .2em 0;

                        &:before {
                            position: relative;
                            @extend .las;
                            content: la-content($la-dot-circle);
                            margin-right: .1em;
                        }
                    }
                }
            }
        }

        #UserFooter {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em;
            margin-top: auto;
            border-top: 1px $color1 solid;
            height: 10%;
        }
    }

    #ChatSection {
        display: flex;
        flex-flow: column wrap;
        width: 65%;
        padding: 1em;
        border-right: 1px $color1 solid;
    }


}

#UsernamePrompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: rgba(black, .4);
    display: flex;

    #Prompt {
        margin: auto;
        width: 30em;
        padding: 2em;
        background: white;
        box-shadow: inset 0px 5px 0px 0px rgba($color1, 0.75), 0px 4px 52px -18px rgba(0, 0, 0, 0.75);

        .form-group {
            margin: 1.5em 0;
        }

        .btn-group {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-end;

            button,
            a {
                background: $color1;
                color: white;
                border-radius: .2em;
                padding: .5em 1em;
                margin-left: 1em;
                align-self: center;
            }

            a {
                background: white;
                color: $color1;
                border: 1px solid $color1;
            }
        }

        .validation-message {
            display: block;
        }
    }
}