#client-main {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;

    #NavSection {
        display: flex;
        flex-flow: column wrap;
        align-items: stretch;
        width: 4.5em;
        padding: 0;
        background: $color1;

        a {
            color: white;
            font-size: 2em;
            text-align: center;
            padding: .5em;
            max-width: 100%;
            transition: background .3s ease-in-out;

            &:hover {
                background: rgba(white, .2);
            }
        }
    }

    #UserSection {
        display: flex;
        flex-flow: column wrap;
        flex: 1;

        #UserHeader {
            display: flex;
            padding: 1em;

            h1 {
                margin: auto;
            }
        }

        #UserContent {
            padding: 0 2em;
            overflow-y: auto;
            max-height: 32em;

            h2 {
                position: relative;

                &:before {
                    @extend .las;
                    content: la-content($la-user-circle);
                    margin-right: .5em;
                    position: relative;
                    color: $color1;
                }
            }

            #Users {
                ul {
                    list-style: none;
                    display: flex;
                    flex-flow: row wrap;
                    padding: 0;

                    li {
                        position: relative;
                        padding: .5em;
                        background: $color1;
                        color: white;
                        margin: 0 .2em .2em 0;

                        &:before {
                            position: relative;
                            @extend .las;
                            content: la-content($la-dot-circle);
                            margin-right: .1em;
                        }
                    }
                }
            }
        }

        #UserFooter {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em;
            margin-top: auto;
            border-top: 1px $color1 solid;
        }
    }

    #ChatSection {
        display: flex;
        flex-flow: column wrap;
        flex: 2;
        padding: 1em;
        border-right: 1px $color1 solid;
    }


}

#UsernamePrompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: rgba(black, .4);
    display: flex;

    #Prompt {
        margin: auto;
        width: 30em;
        padding: 2em;
        background: white;
        box-shadow: inset 0px 5px 0px 0px rgba($color1, 0.75), 0px 4px 52px -18px rgba(0, 0, 0, 0.75);

        .form-group {
            margin: 1.5em 0;
        }

        .btn-group {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-end;

            button,
            a {
                background: $color1;
                color: white;
                border-radius: .2em;
                padding: .5em 1em;
                margin-left: 1em;
                align-self: center;
            }

            a {
                background: white;
                color: $color1;
                border: 1px solid $color1;
            }
        }

        .validation-message {
            display: block;
        }
    }
}