#client-main {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;

    &.D-Mode {
        color: white;
        background: $color5;

        #UserSection,
        #ChatSection {
            color: white;
            background: $color5;

            #ChatContent {
                .message-box {
                    .message-header {
                        color: white;
                    }
                }
            }

            #ChatFooter {
                input {
                    color: white;
                }
            }
        }
    }

    #NavSection {
        display: flex;
        flex-flow: column wrap;
        align-items: stretch;
        width: 5%;
        padding: 0;
        background: $color1;

        a,
        button {
            color: white;
            font-size: 2em;
            text-align: center;
            padding: .5em;
            max-width: 100%;
            transition: background .3s ease-in-out;
            border: none;
            background: none;

            &:hover {
                background: rgba(white, .2);
            }
        }
    }

    #UserSection {
        display: flex;
        flex-flow: column wrap;
        width: 30%;

        #UserHeader {
            display: flex;
            padding: 1em;
            border-bottom: 1px solid $color1;
            height: 10%;
            max-width: 100%;

            i {
                font-size: 1.8em;
                margin: auto .5em auto 0;
                color: $color1;
            }

            p {
                @include Truncate(1);
                margin: 0 auto 0 0;
                position: relative;
                font-size: 1.2em;
                margin: auto 0;
            }
        }

        #UserContent {
            display: block;
            padding: 0 2em;
            width: 100%;
            height: 80%;

            h2 {
                position: relative;
                display: flex;
                align-items: center;

                &:before {
                    @extend .las;
                    content: la-content($la-user-circle);
                    margin-right: .5em;
                    position: relative;
                    color: $color1;
                }
            }

            #Users {
                ul {
                    list-style: none;
                    display: flex;
                    flex-flow: row wrap;
                    padding: 0;

                    li {
                        @include Truncate(1);
                        max-width: 12em;
                        position: relative;
                        padding: .2em .5em;
                        background: $color1;
                        color: white;
                        margin: 0 .2em .2em 0;
                        border-radius: .3em;
                    }
                }
            }
        }

        #UserFooter {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em;
            margin-top: auto;
            border-top: 1px $color1 solid;
            height: 10%;
        }
    }

    #ChatSection {
        display: flex;
        flex-flow: column wrap;
        width: 65%;
        height: 100vh;

        #ChatContent {
            display: flex;
            flex-flow: column wrap;
            height: 90%;
            max-width: 100%;
            padding: 1em;
            border-right: 1px solid $color1;

            .message-box {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                padding: .3em;

                .message-header {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    color: $color5;
                    padding: 0 .5em;
                    width: 100%;

                    .name {
                        position: relative;
                        padding: .2em .5em;
                        border-radius: .3em;
                        color: white;

                        i {
                            margin: 0 .3em;
                            color: $color1;
                        }
                    }

                    .date {
                        position: relative;

                        &:before {
                            position: relative;
                            @extend .las;
                            content: la-content($la-clock);
                            margin-right: .3em;
                            font-size: 1.1em;
                            color: $color1;
                        }
                    }
                }

                .message {
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-between;
                    background: $color6;
                    padding: .5em;
                    border-radius: .5em;
                    color: $color5;
                    position: relative;
                    min-width: 30%;
                    word-break: break-all;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 2em;
                        width: 0;
                        height: 0;
                        border: 0.563em solid transparent;
                        border-bottom-color: $color6;
                        border-top: 0;
                        margin-left: -0.562em;
                        margin-top: -0.562em;
                    }

                    &--success {
                        background: darkgreen;
                    }

                    &--failure {
                        background: darkred;
                    }

                    &--warning {
                        background: darkorange;
                    }

                    &--information {
                        background: darkblue;
                    }
                }
            }
        }

        #ChatFooter {
            padding: .5em 1.5em;
            height: 10%;
            border-top: 1px solid $color1;

            form {
                height: 100%;
                align-items: center;

                .form-group {
                    margin: 0 1em 0 0;
                    flex: 1;

                    .input-wrapper {
                        padding: .3em .5em;
                        border: 2px solid $color1;
                        border-radius: 5em;
                        box-shadow: none;

                        input {
                            padding: 0;

                            #emoji {
                                padding: .5em !important;
                            }
                        }
                    }

                    .validation-message {
                        display: block;
                        right: auto;
                        left: -2em;
                        bottom: 100%;
                    }
                }

                button {
                    padding: .5em 1em;

                    i {
                        margin-left: .2em;
                    }
                }
            }
        }
    }
}

#UsernamePrompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background: rgba(black, .4);
    display: flex;

    #Prompt {
        margin: auto;
        width: 30em;
        padding: 2em;
        background: white;
        box-shadow: inset 0px 5px 0px 0px rgba($color1, 0.75), 0px 4px 52px -18px rgba(0, 0, 0, 0.75);

        .form-group {
            margin: 1.5em 0;
        }

        .btn-group {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-end;

            button,
            a {
                background: $color1;
                color: white;
                border-radius: .2em;
                padding: .5em 1em;
                margin-left: 1em;
                align-self: center;
            }

            a {
                background: white;
                color: $color1;
                border: 1px solid $color1;
            }
        }

        .validation-message {
            display: block;
        }
    }
}
