.wide-wrapper {
    display: flex;
    width: 100%;
    padding: 2em 4em;

    @include breakpoint(max-width $mobileBreakpoint) {
        padding: 2em;
    }

    &--row {
        flex-flow: row wrap;
    }

    &--column {
        flex-flow: column wrap;
    }
}

form {
    display: flex;
    flex-flow: column wrap;

    .form-group {
        position: relative;
        margin-bottom: 1em;
    }

    span[class^='field-validation'],
    .validation-message {
        position: absolute;
        right: -2em;
        bottom: 67%;
        background: #d0021b;
        border: 2px solid #c2c2c2;
        padding: .7em;
        color: white;
        font-size: .8em;
        z-index: 2;
        border-radius: .5em;
        animation: fadeIn .3s ease-in-out;
        display: none;

        &.field-validation-error {
            display: block;
        }

        &:after,
        &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: transparent;
            border-top-color: #d0021b;
            border-width: 8px;
            margin-left: -8px;
        }

        &:before {
            border-color: transparent;
            border-top-color: #c2c2c2;
            border-width: 11px;
            margin-left: -11px;
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: flex-end;
        border-radius: 5em;
        padding: .7em 3em;
        color: white;
        background: $color1;
        transition: box-shadow .3s $main-easing;
        -webkit-box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);
        -moz-box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);
        box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);

        &:hover {
            -webkit-box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
            -moz-box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
            box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
        }

        &:after {
            @extend .las;
            @extend .la-spin;
            content: la-content($la-circle-notch);
            margin: 0 .5em;
            font-size: 1.2em;
            display: none;
        }

        &.on {
            &:after {
                display: inline-block;
            }
        }

        &.disabled {
            cursor: not-allowed;
            background: rgba($color1, .5);
            box-shadow: none;
        }
    }
}

.input-wrapper {
    display: flex;
    position: relative;
    padding: .5em 0;
    width: 100%;

    &--row {
        flex-flow: row wrap;
    }

    &--column {
        flex-flow: column wrap;
    }

    input,
    textarea,
    select {
        background: none;
        border: none;
        outline: none;
        padding: .5em 0;
        font-size: 1.1em;
        width: 100%;

        &[type='checkbox'] {
            margin: auto 0 auto .4em;
            width: initial;
        }
    }

    .input {
        display: flex;
        flex-flow: row;

        .icon {
            display: flex;
            align-items: center;
            color: $color1;
            margin-right: .3em;
            font-size: 1.5em;
        }
    }

    &--text {
        -webkit-box-shadow: inset 0px -2.5px 0px 0px rgba(lightgray, 0.75);
        -moz-box-shadow: inset 0px -2.5px 0px 0px rgba(lightgray, 0.75);
        box-shadow: inset 0px -2.5px 0px 0px rgba(lightgray, 0.75);

        &:after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: .15em;
            background: $color1;
            transition: transform .3s $main-easing;
            transform: scaleX(0);
        }

        &.focused {
            &:after {
                transform: scaleX(1);
            }
        }
    }
}

.large-content-card {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 70%;
    height: 30em;
    margin: auto;
    -webkit-box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.75);

    .content-card-banner {
        position: relative;
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        .overlay {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            background: rgba($color1, .7);
            word-break: break-word;
            padding: 4em 2em;
            color: white;

            h1 {
                font-size: 3em;
            }
        }
    }

    .content-card-content {
        display: flex;
        width: 50%;
        padding: 4em 2em;
    }

    @include breakpoint(max-width $mobileBreakpoint) {
        width: 100%;

        .content-card-banner {
            display: none;
        }

        .content-card-content {
            width: 100%;
        }
    }
}

.login-portal {
    form {
        width: 50%;
        padding: 4em 2em;
    }

    @include breakpoint(max-width $mobileBreakpoint) {
        form {
            width: 100%;
        }
    }
}

.register-portal {
    form {
        width: 50%;
        padding: .5em 2em;
    }

    @include breakpoint(max-width $mobileBreakpoint) {
        form {
            width: 100%;
        }
    }
}

a {
    font-weight: 500;
    color: $color1;

    &.link-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5em;
        padding: .7em 3em;
        color: white;
        background: $color1;
        transition: box-shadow .3s $main-easing;
        -webkit-box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);
        -moz-box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);
        box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);

        &:hover {
            -webkit-box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
            -moz-box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
            box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
        }
    }
}

code {
    background-color: white;
    color: $color1;
}

.show-text {
    background: $color1;
    color: white;
    padding: 1.5em;
    font-size: 1.5em;
    margin: 2em 0;
    position: relative;
    -webkit-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
    word-break: break-word;

    .title {
        position: absolute;
        left: .2em;
        top: -.6em;
        content: "";
        font-weight: bold;
        font-size: 1.7em;
        color: black;
    }

    @include breakpoint(max-width $mobileBreakpoint) {
        font-size: 1.2em;

        .title {
            font-size: 1.5em;
        }
    }
}

.feature-block {
    display: flex;
    flex-flow: column wrap;
    margin: 2em 0;
    position: relative;
    -webkit-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
    background: white;
    border-radius: .5em;
    padding: 1.5em 2em 2em;
    background: $color1;
    color: white;
    width: 48%;
    height: 25em;

    .code {
        margin-top: .2em;
    }

    .img {
        display: flex;
        background: white;
        padding: 4em;
        border-radius: .5em;
        position: absolute;
        top: 9em;
        right: -1em;
        -webkit-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 75%;

        img {
            margin: auto;
            width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }

    &.right {
        .img {
            right: auto;
            left: -1em;
        }
    }

    @include breakpoint(max-width $mediumBreakpoint) {
        width: 100%;
    }
}

.main-back {
    background: url(/media/imgassets/pp.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.toast-custom-notyf {
    max-width: 70em !important;

    .notyf__ripple {
        height: 50em;
        width: 70em;
    }
}

#color-switch {
    display: flex;
    border-radius: 50%;
    padding: .15em;
    font-size: 1.2em;
    border: 2px solid $color1;
    align-self: center;
    background: none;
    color: $color1;

    i {
        margin: auto;
    }
}

.status-message {
    position: fixed;
    top: -100%;
    width: 90%;
}

.close-btn {
    color: $color1;
    margin-right: 1em;
    border: none;
    background: none;
}

.alert {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 1em;
    width: 100%;
    margin: 1em 0;
    position: relative;
    border-radius: .5em;

    &:before {
        position: relative;
        @extend .las;
        font-size: 2em;
        margin-right: .2em;
    }

    &.error {
        border: 2px solid #d0021b;

        &:before {
            color: #d0021b;
            content: la-content($la-times-circle);
        }
    }

    &.info {
        border: 2px solid dodgerblue;

        &:before {
            color: dodgerblue;
            content: la-content($la-info-circle);
        }
    }

    &.warning {
        border: 2px solid darkorange;

        &:before {
            color: darkorange;
            content: la-content($la-exclamation-circle);
        }
    }

    &.success {
        border: 2px solid green;

        &:before {
            color: green;
            content: la-content($la-check-circle);
        }
    }

    p {
        word-break: break-word;
    }
}

.modal-cont {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(black,.5);
    z-index: 10;

    .modal {
        padding: 2em;
        margin: auto;
        -webkit-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
        border-top: 4px solid $color1;
        flex-flow: column wrap;
        background: white;
        width: 40%;
        transform: scale(1);
        animation: pulse 1s ease-in-out forwards;

        @include breakpoint(max-width $mobileBreakpoint) {
            width: 95%;
        }

        .modal-header {
            display: flex;
            justify-content: space-between;

            button {
                font-size: 2em;
                background: none;
                margin-left: .5em;
            }
        }

        .modal-body {
            display: flex;
            flex-flow: column wrap;

            .link {
                margin: 1em 0;

                span:nth-child(2) {
                    color: $color1;
                    margin-left: .5em;
                    max-width: 100%;
                    word-break: break-word;
                }
            }

            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                align-self: flex-end;
                border-radius: 5em;
                padding: .7em 3em;
                color: white;
                background: $color1;
                transition: box-shadow .3s $main-easing;
                -webkit-box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);
                -moz-box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);
                box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);

                &:hover {
                    -webkit-box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
                    -moz-box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
                    box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
                }
            }
        }
    }

    &.show {
        display: flex;
    }
}

#wasm-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $color3;
    display: flex;
    flex-flow: column;
    animation: fadeIn 1s ease-in-out forwards;

    .message {
        color: white;
        margin: 1em auto auto;
    }

    .spinner-box {
        width: 15em;
        height: 15em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin: auto auto 1em;
        position: relative;
    }

    .configure-border-1 {
        width: 7em;
        height: 7em;
        padding: 3px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color1;
        animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
    }

    .configure-border-2 {
        width: 7em;
        height: 7em;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color6;
        transform: rotate(45deg);
        animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
    }

    .configure-core {
        width: 100%;
        height: 100%;
        background-color: $color5;
    }
}

.arrow_box {
    display: none;
    position: absolute;
    background: #009688;
    border: 3px solid #00645a;
    border-radius: .5em;
    margin-left: 5em;
    z-index: 3;
    padding: .3em .6em;
    white-space: nowrap;
    padding: .8em;
    top: .5em;
    animation: slideRight .5s ease-in-out forwards;
}

.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: transparent;
    border-right-color: #009688;
    border-width: 6px;
    margin-top: -6px;
}

.arrow_box:before {
    border-color: transparent;
    border-right-color: #00645a;
    border-width: 10px;
    margin-top: -10px;
}

.zen-stack {
    justify-content: space-evenly;

    img {
        max-width: 8em;
        margin: 0 2em 2em 0;
    }
}

#cookieConsent {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    color: white;
    background: $color1;

    .text {
        max-width: 90%;
    }

    a {
        color: white;
        text-decoration: underline;
        font-weight: bold;
    }

    button {
        border-radius: 5em;
        background: white;
        color: $color1;
        border: none;
        padding: .5em 1em;
    }

    @include breakpoint(max-width $mediumBreakpoint) {
        flex-flow: column wrap;
        text-align: center;

        .text {
            max-width: 100%;
        }

        button {
            margin-top: 1em;
            width: 50%;
        }
    }
}
