.wide-wrapper {
    display: flex;
    width: 100%;
    padding: 2em 4em;

    &--row {
        flex-flow: row wrap;
    }

    &--column {
        flex-flow: column wrap;
    }
}

form {
    display: flex;
    flex-flow: column wrap;

    .form-group {
        position: relative;
        margin-bottom: 1em;
    }

    .input-wrapper {
        display: flex;
        position: relative;
        padding: .5em 0;
        width: 100%;

        &--row {
            flex-flow: row wrap;
        }

        &--column {
            flex-flow: column wrap;
        }

        input,
        textarea,
        select {
            background: none;
            border: none;
            outline: none;
            padding: .5em 0;
            font-size: 1.1em;
            width: 100%;

            &[type='checkbox'] {
                margin: auto 0 auto .4em;
                width: initial;
            }
        }

        .input {
            display: flex;
            flex-flow: row;

            .icon {
                display: flex;
                align-items: center;
                color: $color1;
                margin-right: .3em;
                font-size: 1.5em;
            }
        }

        &--text {
            -webkit-box-shadow: inset 0px -2.5px 0px 0px rgba(lightgray, 0.75);
            -moz-box-shadow: inset 0px -2.5px 0px 0px rgba(lightgray, 0.75);
            box-shadow: inset 0px -2.5px 0px 0px rgba(lightgray, 0.75);

            &:after {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                width: 100%;
                height: .15em;
                background: $color1;
                transition: transform .3s $main-easing;
                transform: scaleX(0);
            }

            &.focused {
                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }

    span[class^='field-validation'] {
        position: absolute;
        right: -2em;
        bottom: 67%;
        background: #d0021b;
        border: 2px solid #c2c2c2;
        padding: .7em;
        color: white;
        font-size: .8em;
        z-index: 2;
        border-radius: .5em;
        animation: fadeIn .3s ease-in-out;
        display: none;

        &.field-validation-error {
            display: block;
        }

        &:after,
        &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: transparent;
            border-top-color: #d0021b;
            border-width: 8px;
            margin-left: -8px;
        }

        &:before {
            border-color: transparent;
            border-top-color: #c2c2c2;
            border-width: 11px;
            margin-left: -11px;
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: flex-end;
        border-radius: 5em;
        padding: .7em 3em;
        color: white;
        background: $color1;
        transition: box-shadow .3s $main-easing;
        -webkit-box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);
        -moz-box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);
        box-shadow: 0px 10px 30px -10px rgba($color1, 0.75);

        &:hover {
            -webkit-box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
            -moz-box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
            box-shadow: 0px 10px 30px -3px rgba($color1, 0.75);
        }

        &:after {
            @extend .las;
            @extend .la-spin;
            content: la-content($la-circle-notch);
            margin: 0 .5em;
            font-size: 1.2em;
            display: none;
        }

        &.on {
            &:after {
                display: inline-block;
            }
        }

        &.disabled {
            cursor: not-allowed;
            background: rgba($color1, .5);
            box-shadow: none;
        }
    }
}

.login-portal,
.register-portal {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 70%;
    height: 30em;
    margin: auto;
    -webkit-box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 50px -20px rgba(0, 0, 0, 0.75);

    .login-banner,
    .register-banner {
        position: relative;
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        .overlay {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            background: rgba($color1, .7);
            word-break: break-word;
            padding: 4em 2em;
            color: white;

            h1 {
                font-size: 3em;
            }
        }
    }
}

.login-portal {
    form {
        width: 50%;
        padding: 4em 2em;
    }
}

.register-portal {
    form {
        width: 50%;
        padding: .5em 2em;
    }
}

a {
    font-weight: 500;
    color: $color1;
}

code {
    background-color: white;
    color: $color1;
    padding: 0 .4em;
}

.show-text {
    background: $color1;
    color: white;
    padding: 1.5em;
    margin: 1em 0;
    font-size: 1.5em;
    margin: 2em 0;
    position: relative;
    -webkit-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.75);

    .title {
        position: absolute;
        left: .2em;
        top: -.6em;
        content: "";
        font-weight: bold;
        font-size: 1.7em;
        color: black;
    }
}

.main-back {
    background: url(/media/imgassets/pp.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.toast-custom-notyf {
    max-width: 50em !important;

    .notyf__ripple {
        height: 50em;
        width: 50em;
    }
}