.footer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: $color1;
    color: white;
    justify-content: space-between;
    min-height: 10em;
    margin-top: 5em;
    position: relative;
    bottom: 0;
    min-height: 15em;
    color: white;
    padding: 2em 0 0;

    a {
        color: white;
    }

    .flex-column {
        flex-basis: 32%;
        padding: 2em;

        a:not(.logo-link) {
            margin-bottom: 1.5em;
            position: relative;
            font-size: 1.2em;

            &:before {
                position: relative;
                @extend .las;
                content: la-content($la-chevron-right);
                color: white;
                left: -.5em;
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }

        @include breakpoint(max-width $mobileBreakpoint) {
            flex-basis: 100%;
        }
    }

    .logo {
        margin: 0 auto;
        font-size: 1.8em;

        a {

            i {
                margin: 0 .1em;
                font-size: 2.3em;
            }
        }
    }

    .footer-bottom {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        padding: 1em 1em 0;
        background: $color2;
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;

        div {
            background: white;
            color: $color1;
            padding: 1em;
            border-radius: .5em .5em 0 0;
            flex: 1;
        }
    }
}
