$la-font-path: "../../wwwroot/lib/line-awesome/dist/line-awesome/fonts";
$la-font-path-p: "../../../wwwroot/lib/line-awesome/dist/line-awesome/fonts";
$font-family: 'Poppins', sans-serif;


/* Colors
   ===================================
*/
$color1: #009688;
$color2: #00645A;
$color3: #00423C;
$color4: white;
$color5: #242526;
$color6: #d4f8e8;

/* Easings
   ===================================
*/
$main-easing: cubic-bezier(0.65, 0, 0.35, 1);

/* Breakpoints
   ===================================
*/
$xsMobileBreakpoint: 320px;
$mobileBreakpoint: 950px;
$mediumBreakpoint: 1024px;
