<div id="ChatSection">
    <div id="ChatContent">
    </div>
    <div id="ChatFooter">
        <EditForm EditContext="@editContext" OnValidSubmit="@ValidSubmit" @onreset="ResetForm">
            <DataAnnotationsValidator />
            <div class="form-group">
                <div class="input-wrapper input-wrapper--column">
                    <div class="input">
                        <label class="icon"><i class="las la-comment-medical"></i></label>
                        <textarea rows="1"
                                  @bind-value="@MessageModel.Message"
                                  @bind-value:event="oninput"
                                  @onfocus="InputFocus"
                                  id="MessageTextArea"
                                  placeholder="Type a message..."></textarea>
                        <button id="emoji" type="button"></button>
                    </div>
                </div>
                <ValidationMessage For="@(() => MessageModel.Message)" />
            </div>
            <div>
                <button id="MessageSubmit" type="submit">Send<i class="las la-paper-plane"></i></button>
            </div>
        </EditForm>
    </div>
</div>