@using Blazored.LocalStorage

<div id="NavSection">
    <a href="authentication/login"><i class="las la-sign-in-alt"></i></a>
    <a href="authentication/register"><i class="las la-user-plus"></i></a>
    <button type="button" @onclick="@ToggleDarkMode"><i class="las la-@UIModeButton"></i></button>
    <a href="/"><i class="las la-comment-dots"></i></a>
</div>

@code {
    [Parameter] public EventCallback DarkModeToggleCallback { get; set; }
    [Inject] public ILocalStorageService LocalStorageService { get; set; }
    private string UIModeButton { get; set; } = "sun";
    public async Task ToggleDarkMode()
    {
        var StoredVal = !(await LocalStorageService.GetItemAsync<bool>("DMode"));

        await LocalStorageService.SetItemAsync("DMode", StoredVal);

        ToggleDModeButton();

        await DarkModeToggleCallback.InvokeAsync(StoredVal);
        StateHasChanged();
    }

    public void ToggleDModeButton()
    {
        UIModeButton = UIModeButton == "sun" ? "moon" : "sun";
    }
}