<div id="NavSection">
    <a href="authentication/login"><i class="las la-sign-in-alt"></i></a>
    <a href="authentication/register"><i class="las la-user-plus"></i></a>
    <a href="/"><i class="las la-comment-dots"></i></a>
</div>