<div class="@State" id="Notification-Banner">
    <div class="content">
        <p>Would you like to allow us to send notifications regarding new messages to your device?</p>
    </div>
    <div class="flex-row">
        <button type="button" @onclick="@Close" class="close-btn"><i class="las la-times-circle la-2x"></i></button>
        <button @onclick="@Subscribe" type="button" id="Sub-Btn">Subscribe</button>
    </div>
</div>

@code {
    [Inject] public IJSRuntime JSRuntime { get; set; }
    private string State { get; set; } = "d-none";

    protected async override Task OnInitializedAsync()
    {
        var PermissionStatus = await CheckNotificationPermission();
        Console.WriteLine(PermissionStatus);
        if (PermissionStatus == "default")
            Show();
    }

    private async Task Subscribe()
    {
        await JSRuntime.InvokeAsync<bool>("SubscribeToNotifications");
        Close();
    }

    private async Task<string> CheckNotificationPermission()
    {
        return await JSRuntime.InvokeAsync<string>("CheckNotificationPermission");
    }

    private void Show()
    {
        State = "slideDown";
        StateHasChanged();
    }

    private void Close()
    {
        State = "slideUp";
        StateHasChanged();
    }
}