<div id="wasm-loader">
    <div class="spinner-box">
        <div class="configure-border-1">
            <div class="configure-core"></div>
        </div>
        <div class="configure-border-2">
            <div class="configure-core"></div>
        </div>
    </div>
    <div class="message">
        @Message
    </div>
</div>

@code {
    [Parameter] public string Message { get; set; }
}