@implements IDisposable

<div id="UserSection">
    <div id="UserHeader">
        <i class="las la-comments"></i>
        <p title="@Room">@Room</p>
    </div>
    <div id="UserContent">
        <h2>@Username</h2>
        <div id="Users">
            <h3>Users</h3>
            <ul>
                <li>Some user</li>
                <li>Some user user</li>
                <li>Some</li>
                <li>Some ur</li>
                <li>Some ser</li>
                <li>Some u</li>
                <li>Some ser</li>
                <li>Some user 1</li>
                <li>Some user 23</li>
                <li>Some user1</li>
                <li>Some user 222</li>
                <li>Some s user</li>
                <li>Some x user</li>
                <li>Some zz user</li>
                <li>Some bbb1 user</li>
                <li>Some ser</li>
                <li>Some usr</li>
                <li>Some u</li>
                <li>Some ur</li>
                <li>Some</li>
                <li>Someuser</li>
                <li>Somuser</li>
                <li>e user</li>
                <li>Souser</li>
                <li>Some x user</li>
                <li>Some zz user</li>
                <li>Some bbb1 user</li>
                <li>Some ser</li>
                <li>Some usr</li>
                <li>Some u</li>
                <li>Some ur</li>
                <li>Some</li>
                <li>Someuser</li>
                <li>Somuser</li>
                <li>e user</li>
                <li>Souser</li>
                <li>Some x user</li>
                <li>Some zz user</li>
                <li>Some bbb1 user</li>
                <li>Some ser</li>
                <li>Some usr</li>
                <li>Some u</li>
                <li>Some ur</li>
                <li>Some</li>
                <li>Someuser</li>
                <li>Somuser</li>
                <li>e user</li>
                <li>Souser</li>
            </ul>
        </div>
    </div>
    <div id="UserFooter">
        All rights reserved. Z-Chat © @DateTime.Today.Year
    </div>
</div>

@code {
    [Parameter] public string Room { get; set; }
    [Parameter] public string Username { get; set; }
    [Parameter] public string UIMode { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (UIMode == "W-Mode")
        {
            await JSRuntime.InvokeVoidAsync("InitializeOS", "UserContent");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("InitializeOS", "UserContent", "os-theme-light");
        }
    }

    public void Dispose()
    {
        JSRuntime.InvokeVoidAsync("DestroyOS");
    }
}